# Dependencies
node_modules
/.pnp
.pnp.js

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment files
/src/environments/environment.ts
/src/environments/environment.prod.ts

# Profiling files
chrome-profiler-events*.json

# e2e
/e2e/*.js
/e2e/*.map

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env*

# Tailwind
.tailwindcss/

# Ignore toute configuration et cache de .angular
.angular/
dist/
docs/

